.c-cheat-sheet {
  background: #0B2830;
  padding: 2rem;
}

.c-cheat-sheet__title {
  color: #eee;
  display: none;
}

.c-cheat-sheet__contents {
  display: grid;
  /* grid-auto-rows: 2rem; */
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
