.c-cheat-sheet {
  background: #222;
}

.c-cheat-sheet__title {
  color: #eee;
  display: none;
}

.c-cheat-sheet__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
