.c-item {
  align-items: baseline;
  align-self: flex-start;
  display: flex;
}

.c-item__keys {
  min-width: 12rem;
}

.c-item__modifiers {
  align-items: baseline;
  display: inline-flex;
  margin-right: .5rem;
}

.c-item__modifiers > pre {
  background: #eee;
  color: #000;
  margin: .25rem 0 .5rem 1rem;
  padding: .5rem;
}

.c-item__command {
  align-items: baseline;
  display: inline-flex;
  margin-right: .5rem;
}

.c-item__command > pre {
  background: #000;
  color: #eee;
  margin: .25rem .5rem;
  padding: .5rem;
}

.c-item__description {
  display: inline-flex;
}

.c-item__description > pre {
  background: #000;
  color: #eee;
  margin: -.1rem .5rem;
  padding: .15rem;
}

