.c-item {
  align-items: baseline;
  align-self: flex-start;
  display: flex;
  margin: .5rem;
}

.c-item__description {
  display: inline-flex;
  flex: 1;
  text-transform: capitalize;
}

.c-item__keys {
  justify-self: flex-end;
}

.c-item__modifiers {
  align-items: baseline;
  display: inline-flex;
  margin-right: .5rem;
}

.c-item__modifiers > pre {
  box-shadow: inset 0px 0px 0px 2px #CC6400;
  border-radius: 4px;
  margin: .25rem -.5rem .5rem 1rem;
  padding: .5rem;
}

.c-item__command {
  align-items: baseline;
  display: inline-flex;
  margin-right: .5rem;
}

.c-item__command > pre {
  background: #CC6400;
  border-radius: 4px;
  color: #eee;
  margin: .25rem .5rem;
  padding: .5rem;
}
