.c-app {
  text-align: center;
}

.c-app--header {
  align-items: baseline;
  justify-content: center;
  background-color: #222;
  display: flex;
  padding: .25rem 1rem;
  color: white;
}

.c-app--title {
  padding: .2rem 1rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.c-app--intro {
  font-size: 1.3rem;
  color: lightgrey;
}
