.c-app {
  color: lightgrey;
}

.c-app__header {
  align-items: baseline;
  background-color: #082026;
  color: white;
  display: flex;
  justify-content: center;
  padding: .25rem 1rem;
}

.c-app__title {
  font-size: 1.3rem;
  letter-spacing: .2rem;
  padding: .2rem 1rem;
  text-transform: uppercase;
}

.c-app__intro {
  color: lightgrey;
}
