@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald');

body {
  color: #F6FDFF;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  zoom: 1.25;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1rem;
}
